body {
	background-color: #f5f5f5;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	border: 0;
}

#main {
	width: 800px;
	margin: 0 auto 2em auto;
	text-align: left;
	background-color: #fff;
}

#header {
	background-color: #113B92;
	color: #fff;
}

#footer {
	text-align: center;
	padding: 1em;
	background-color: #113B92;
	color: #4A72C4;
	font-size: 80%;
}
#footer a {
	color: #4A72C4;
}

h1 {
	margin: 0.3em 0;
}

#header h1 {
	margin: 1em;
}

h1 a {
	color: #fff;
	text-decoration: none
}

h1 a:hover {
	text-decoration: underline;
}

.section {
	margin: 1em;
}

#mapouter {
	background-color: #000000;
	padding: 1px 0;
}

#map, #LBmap {
	background-color: #eee;
	width: 800px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.col {
	width: 400px;
	float: left;
}
