FileETag none

php_value magic_quotes_gpc 0
php_value register_globals 0
php_value magic_quotes_runtime 0
php_value track_errors 1
php_value last_modified off
php_value short_tags on

php_value error_reporting 2147483639

DirectoryIndex index.php
ErrorDocument 404 /404.php
ErrorDocument 403 /403.php

RewriteEngine on

RewriteRule	^stations/(\d+)/$	/station.php?id=$1	[L,QSA]
RewriteRule	^weblogs/(\d+)/$	/weblog.php?id=$1	[L,QSA]

RewriteRule	^lines/$		/lines.php		[L]
RewriteRule	^lines/([a-z-_]+)/$	/line.php?id=$1		[L,QSA]
RewriteRule	^lines/([a-z-_]+)/all/$	/line_all.php?id=$1	[L,QSA]


RewriteRule ^(.*\.)v[0-9.]+\.(css|js|gif|png|jpg)$	/$1$2	[L]
